body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #000;
  font-family: Verdana;
}
* {
  box-sizing: border-box;
}
main {
  padding: 1em;
  margin: 5em auto 0 auto;
  -webkit-box-shadow: 0px 0px 102px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 102px -10px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 102px -10px rgba(0,0,0,0.75);
  max-width: 300px;
}
form input {
  border: solid 2px #999;
  padding: 0.6em;
  border-radius: 4px;
  font-size: 1em;
  display: block;
  margin-top: 0.5em;
  width: 100%;
}
form button {
  display: block;
  padding: 0.4em 1em;
  font-size: 1em;
  border-radius: 6px;
  border: none;
  color: #FFF;
  margin-top: 0.5em;
  text-transform: uppercase;
  background: #1e5799;
  background: -moz-linear-gradient(top, #1e5799 0%, #7db9e8 100%);
  background: -webkit-linear-gradient(top, #1e5799 0%,#7db9e8 100%);
  background: linear-gradient(to bottom, #1e5799 0%,#7db9e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );
  -webkit-box-shadow: 0px 9px 10px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 9px 10px -8px rgba(0,0,0,0.75);
  box-shadow: 0px 9px 10px -8px rgba(0,0,0,0.75);
  outline: none;
}
form button:active {
  transform: translateY(4px);
}
.tac {
  text-align: center;
}